<a href="https://colab.research.google.com/github/shoaibswe/Data-Analysis-Project-1.1/blob/LabelEncodinOutlierAndFeatureSelection/Data_analysis_project_I_1_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
#Importing necessary libraries 
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [39]:
cd /content/drive/MyDrive/DAP/P1

/content/drive/MyDrive/DAP/P1

In [40]:
ls

Data_analysis_project_I_I.ipynb  processed_data.csv  README.md  train_data.xlsx

In [41]:
from google.colab import drive
drive.mount('/content/drive/')
url=('/content/drive/MyDrive/DAP/P1/processed_data.csv')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [100]:
td = pd.read_csv(url)

In [43]:
td.dtypes

Unnamed: 0              int64
Airline                object
Date_of_Journey        object
Source                 object
Destination            object
Route                  object
Total_Stops            object
Additional_Info        object
Price                   int64
journey_year            int64
journey_month           int64
journey_day             int64
Dep_Time_hour           int64
Dep_Time_minute         int64
Arrival_Time_hour       int64
Arrival_Time_minute     int64
duration_hr             int64
dtype: object

In [44]:
td.head(2)

   Unnamed: 0    Airline  ... Arrival_Time_minute duration_hr
0           0     IndiGo  ...                  10           2
1           1  Air India  ...                  15           7

[2 rows x 17 columns]

In [121]:
categorical_cols=[i for i in td.columns if td[i].dtype=='O']
categorical_cols

['Airline',
 'Date_of_Journey',
 'Source',
 'Destination',
 'Total_Stops',
 'Additional_Info',
 'Route1',
 'Route2',
 'Route3',
 'Route4',
 'Route5']

In [125]:
cat = pd.DataFrame([i for i in td.columns if td[i].dtype=='O'])

In [126]:
cat

                  0
0           Airline
1   Date_of_Journey
2            Source
3       Destination
4       Total_Stops
5   Additional_Info
6            Route1
7            Route2
8            Route3
9            Route4
10           Route5

In [98]:
#categorical data into dummy or indicator variables
Route = pd.get_dummies(td['Route'],drop_first=True)

In [33]:
Route.head()

   BLR → BBI → DEL  BLR → BDQ → DEL  ...  DEL → UDR → BOM → COK  MAA → CCU
0                0                0  ...                      0          0
1                0                0  ...                      0          0
2                0                0  ...                      0          0
3                0                0  ...                      0          0
4                0                0  ...                      0          0

[5 rows x 127 columns]

In [34]:
Destination = pd.get_dummies(td['Destination'],drop_first=True)

In [35]:
Destination.head()

   Cochin  Delhi  Hyderabad  Kolkata  New Delhi
0       0      0          0        0          1
1       0      0          0        0          0
2       1      0          0        0          0
3       0      0          0        0          0
4       0      0          0        0          1

In [105]:
td['Route1']=td['Route'].str.split('→').str[0]
td['Route2']=td['Route'].str.split('→').str[1]
td['Route3']=td['Route'].str.split('→').str[2]
td['Route4']=td['Route'].str.split('→').str[3]
td['Route5']=td['Route'].str.split('→').str[4]

In [106]:
td.head(2)

   Unnamed: 0    Airline Date_of_Journey    Source  ... Route2 Route3 Route4 Route5
0           0     IndiGo      2019-03-24  Banglore  ...    DEL    NaN    NaN    NaN
1           1  Air India      2019-01-05   Kolkata  ...   IXR    BBI     BLR    NaN

[2 rows x 22 columns]

In [74]:
#WOW new routes created

In [107]:
td.drop(columns=['Route'],inplace=True)

In [108]:
td.isnull().sum()

Unnamed: 0                 0
Airline                    0
Date_of_Journey            0
Source                     0
Destination                0
Total_Stops                0
Additional_Info            0
Price                      0
journey_year               0
journey_month              0
journey_day                0
Dep_Time_hour              0
Dep_Time_minute            0
Arrival_Time_hour          0
Arrival_Time_minute        0
duration_hr                0
Route1                     0
Route2                     0
Route3                  3491
Route4                  9116
Route5                 10636
dtype: int64

In [65]:
#OMA , i need to fill null with None in case of cat type

In [109]:
for i in['Route3','Route4','Route5']:
  td[i].fillna('None',inplace=True)

In [110]:
td.isnull().sum()

Unnamed: 0             0
Airline                0
Date_of_Journey        0
Source                 0
Destination            0
Total_Stops            0
Additional_Info        0
Price                  0
journey_year           0
journey_month          0
journey_day            0
Dep_Time_hour          0
Dep_Time_minute        0
Arrival_Time_hour      0
Arrival_Time_minute    0
duration_hr            0
Route1                 0
Route2                 0
Route3                 0
Route4                 0
Route5                 0
dtype: int64

In [111]:
#Lovely! Missings are replaced with None

In [116]:
#for i in td.columns:
for i in['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Total_Stops', 'Additional_Info',
         'Route1','Route2','Route3','Route4','Route5']:
 print('{} has {} categories'.format(i, len(td[i].value_counts())))

Airline has 12 categories
Date_of_Journey has 40 categories
Source has 5 categories
Destination has 6 categories
Total_Stops has 5 categories
Additional_Info has 10 categories
Route1 has 5 categories
Route2 has 45 categories
Route3 has 30 categories
Route4 has 14 categories
Route5 has 6 categories

In [129]:
# route 1 has less byt 2 3 and route 4 has huge features. lets reduce dimentionality
from sklearn.preprocessing import LabelEncoder
encoder =LabelEncoder()

In [130]:
for i in ['Route1','Route2','Route3','Route4','Route5']:
  td[i]=encoder.fit_transform(td[i])

In [133]:
td.head()

   Unnamed: 0      Airline Date_of_Journey  ... Route3 Route4 Route5
0           0       IndiGo      2019-03-24  ...     29     13      5
1           1    Air India      2019-01-05  ...      1      3      5
2           2  Jet Airways      2019-09-06  ...      4      5      5
3           3       IndiGo      2019-12-05  ...      3     13      5
4           4       IndiGo      2019-01-03  ...      8     13      5

[5 rows x 21 columns]

In [134]:
#Wew all converted to integer

In [136]:
td.drop(columns=['Additional_Info'],inplace=True)
#oh this is dropping coz

In [138]:
td['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', '4 stops'],
      dtype=object)

In [142]:
!git commit -m "feature encoding.."

*** Please tell me who you are.

Run

  git config --global user.email "you@example.com"
  git config --global user.name "Your Name"

to set your account's default identity.
Omit --global to set the identity only in this repository.

fatal: unable to auto-detect email address (got 'root@ef1cb8e78f63.(none)')

In [167]:
!git config --global user.name "shoaibswe"

In [168]:
!git push -u origin LabelEncodinOutlierAndFeatureSelection

git: 'credential-wincred' is not a git command. See 'git --help'.
fatal: could not read Username for 'https://github.com': No such device or address

In [160]:
!git pull

remote: Enumerating objects: 8, done.
remote: Counting objects: 100% (8/8), done.
remote: Compressing objects: 100% (6/6), done.
remote: Total 6 (delta 3), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (6/6), done.
From https://github.com/shoaibswe/Data-Alanysis-Project-1.1
 * [new branch]      LabelEncodinOutlierAndFeatureSelection -> origin/LabelEncodinOutlierAndFeatureSelection
   10c53cf..d75f53d  main       -> origin/main
There is no tracking information for the current branch.
Please specify which branch you want to merge with.
See git-pull(1) for details.

    git pull <remote> <branch>

If you wish to set tracking information for this branch you can do so with:

    git branch --set-upstream-to=origin/<branch> LabelEncodinOutlierAndFeatureSelection

In [183]:
!git push -u origin LabelEncodinOutlierAndFeatureSelection

git: 'credential-wincred' is not a git command. See 'git --help'.
fatal: could not read Username for 'https://github.com': No such device or address

In [184]:
    !git branch --set-upstream-to=LabelEncodinOutlierAndFeatureSelection

warning: Not setting branch LabelEncodinOutlierAndFeatureSelection as its own upstream.